[General]
# DEBUG, INFO, WARNING, ERROR
LoggingLevel = DEBUG
Logfile = C:\ProgramData\SubSyncStarter\SubSyncStarter.log
BazarrApiKey = 123
BazarrUrlBase = https://bazarr.domain.com

[SubSync]
Location = "C:\Program Files\subsync\subsync-cmd.exe"
LoggingLevel = 1
Logfile = C:\ProgramData\SubSyncStarter\SubSyncStarter.log
Effort = 1
WindowSize = 300
MaxPointDistance = 1
